:org.apache.felix.configadmin.revision:=L"2"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Ess.EmergencyCapacityReserve.f23f0adf-db6d-4621-bb2f-103c537472ec))(|(id\=ess0)))"
id="ctrlEmergencyCapacityReserve0"
isReserveSocEnabled=B"true"
reserveSoc=I"10"
service.factoryPid="Controller.Ess.EmergencyCapacityReserve"
service.pid="Controller.Ess.EmergencyCapacityReserve.00emergencyCapacityReserve"
